.slideshow {
  position: relative;
  margin: 0 auto;
  width: calc(100% - 120px);
  min-height: 90vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease;
  overflow-y: auto;
}

.slide.active {
  left: 0;
  opacity: 1;
}

/* Button styling */
.prev-slide,
.next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev-slide {
  left: 10px;
}
.next-slide {
  right: 10px;
}

.progress-bar-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 5px;
  background-color: #ddd; /* 背景色 */
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background-color: #007bff; /* プログレスバーの色 */
  transition: width 0.3s ease;
}


.code-container {
    background-color: #f6f8fa;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    font-family: monospace;
    font-size: 14px;
    overflow: auto;
    padding: 10px;
}

.code-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.code-table tr {
    vertical-align: top;
}

.line-number {
    width: 3em;
    text-align: right;
    padding-right: 1em;
    color: #586069;
    background-color: #f6f8fa;
    border-right: 1px solid #e1e4e8;
}

.code-content {
    white-space: pre;
    padding-left: 1em;
}

.code-content code {
    color: #24292e;
}

.hljs {
	background: #f6f8fa;
}

/* 行番号のスタイリング */
pre code {
		font-family: 'Ricty Diminished', monospace;
    counter-reset: line-number;
}

pre code .code-line {
    display: block;
    counter-increment: line-number;
}

pre code .code-line::before {
    content: counter(line-number);
    display: inline-block;
    width: 2em;
    margin-right: 2em;
    color: #888;
    text-align: right;
}
